/* sheard style*/
.btn-learn{
    height: 47px;
    width: 171px;
    padding: 12px 20px;
}





/* header */
header{
 background-color: rgb(252, 246, 246);
max-width: 1440px;
height: 120px;
margin-left: 68px;
}
.nav-title{
    font-size: 35px;
    font-weight: bolder;
}
.nav-bar{
    display:flex ;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.text-center{
    text-align: center;
}
/* banner */
.banner{
    
    background-color: seagreen;
    background-image: url(../image/Hero-bg.png);
    height: 518px;
  
    border: 10px;
    border-style:solid ;
    border-color: tomato;
    margin-top: 20px;
   
}
.banner-pro-pic{
    border: 10px;
    margin-top: 29px;
}
.banner-content{
    width: 998px;
    margin-left: 273px;
}
.banner-profile-pic{
 
}
/* info section */
/* .about-web-dev{ 
    background-color: rgb(105, 16, 0);
    border:1px solid rgb(113, 214, 12);
    border-style:solid ;
    border-color: rgb(16, 172, 146);
}*/ 
/* information of why web-development */
.about-web-dev{
    width: 1140px;
    height: 1100px;px;
    
    border: 10px;
    border-style:solid ;
    border-color: rgb(57, 9, 134);
    margin-top: 20px;
    margin-left:auto;
    margin-right: auto;
}
.web-dev{
    margin: 24px 47px 48px 47px;
}
.web-content{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:32px;
    padding: 48px;
    border-style:dotted ;
   
}
 .left{ 
    height: 164px;
    margin-right: 30px;
    border: 10px;
    border-style:solid ;
    border-color: rgb(9, 134, 117);
    justify-items: flex-start;
}
.right{
    background-color: white;
}
/* Inspiration section */
.Inspiration{
    background-color: turquoise;
    width: 1140px;
    height: 800px;
    
    border: 10px;
    border-style:solid ;
    border-color: rgb(57, 9, 134);
    margin-top: 20px;
    margin-left:auto;
    margin-right: auto;
}
.insp-description{
    margin: 24px 144px 48px 144px;
}
.video{ 
    /* margin-left: 110px;
    margin-right: 108px;*/
    padding: 32px; 
    border: 1px;
    border-style:solid ;
    border-color:black;
    border-radius: 16px;
    background-color: blanchedalmond;
   
}
/*  languages section */
.web-language-description{
   
    
}
.web-language{
    background-color:#FFFFFF;
    border: 1px solid red;
    border: 10px;
    border-style: dashed;
    border-color: tomato;
    width: 1140px;
    margin: auto;
}
.A1{
    display: flex;
    gap: 24px;
    padding: 40px;
}
.web-language-description{
    width: 752px;
    margin: auto;
    gap: 24px 0 48px 0;
}
.a1{
    padding: 40px;
    background-color: rgba(255, 76, 30, 0.05);
}
.a2{
    padding: 40px;
    background-color: #EBEBEB;
}
.a3{
    padding: 40px;
    background-color: rgba(255, 253, 242, 1);
}