/* sheard style*/
.btn-learn{
    height: 47px;
    width: 171px;
    padding: 12px 20px;
    font-size: 20px;
    font-weight: 600;
}
.text-center{
    text-align: center;
}
/* font style */
.font-title{
    font-weight: bolder;
    font-size: 35px;
}
.web-title{
    font-weight: bolder;
    font-size: 35px;
}
.font-description{
    font-weight: 400;
    font-size: 16px;
}
li a{
    text-decoration: none;
}
a {
    text-decoration: none;
}
.box-title{
    font-size: 24px;
    font-weight:bolder;
} 
.box-description{
    font-size: 16px;
    font-weight: 500;
}
.btn-cv{
    width: 244px;
    height: 57px;
    padding: 17px 24px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
}
.btn-contact{
    width: 224px;
    height: 65px;
    font-size: 20px;
    font-weight: 400;
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    border-radius: 8px;
    
}


/* header */
header{
 background-color: rgb(255, 255, 255);
max-width: 1440px;
height: 120px;
margin-left: 68px;
}
.nav-title{
    font-size: 35px;
    font-weight: bolder;
}
.nav-bar{
    display:flex ;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

/* banner */
.banner{
    background-image: url(../image/Hero-bg.png);
    height: 652px;
    border: 10px solid black;
    margin-top: 20px;
    align-items: center;
   flex-direction: column;
    justify-content: center;
    padding: 25px 0px 25px 0px;
    
   
}
.banner-pro-pic{
    border: 10px dotted gray;
    margin-top: 29px;
}
.banner-content{
    border: 10px dotted rgb(167, 33, 33);
    margin-top: 29px;
    width: 998px;
    margin-left: 273px;
}
.banner-description{
    border: 10px dotted rgb(167, 33, 33);
    margin-top: 29px;
}
/* .banner-title{
    font-weight: bolder;
    font-size: 35px;
} */
/* .banner-profile-pic{ */

/* info section */
/* .about-web-dev{ 
    background-color: rgb(105, 16, 0);
    border:1px solid rgb(113, 214, 12);
    border-style:solid ;
    border-color: rgb(16, 172, 146);
}*/ 
/* information of why web-development */
.about-web-dev{background-color: #07e449;
    width: 1140px;
    height: 1100px;
    border: 10px;
    border-style:solid ;
    border-color: rgb(57, 9, 134);
    margin-top: 20px;
    margin-left:auto;
    margin-right: auto;
}
.web-dev{
    margin: 24px 47px 48px 47px;
}
.web-content{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:32px;
    padding: 48px;
    border-style:dotted ;
   
}
 .left{ 
    height: 164px;
    margin-right: 30px;
    border: 10px;
    border-style:solid ;
    border-color: rgb(9, 134, 117);
    justify-items: flex-start;
}
.right{
    background-color: white;
}
/* Inspiration section */
.Inspiration{
    background-color: turquoise;
    width: 1140px;
    height: 800px;
    
    border: 10px;
    border-style:solid ;
    border-color: rgb(57, 9, 134);
    margin-top: 20px;
    margin-left:auto;
    margin-right: auto;
}
.insp-description{
    margin: 24px 144px 48px 144px;
}
.video{ 
    /* margin-left: 110px;
    margin-right: 108px;*/
    padding: 32px; 
    border: 1px;
    border-style:solid ;
    border-color:black;
    border-radius: 16px;
    background-color: blanchedalmond;
   
}
/*  languages section */

.web-language{
    background-color:#FFFFFF;
    border: 1px solid red;
    border: 10px;
    border-style: dashed;
    border-color: tomato;
    width: 1140px;
    margin: auto;
}
.A1{
    display: flex;
    gap: 24px;
    padding: 40px;
}
.web-language-description{
    width: 752px;
    margin: auto;
    gap: 24px 0 48px 0;
}
.a1{
    padding: 40px;
    background-color: rgba(255, 76, 30, 0.05);
}
.a2{
    padding: 40px;
    background-color: #EBEBEB;
}
.a3{
    padding: 40px;
    background-color: rgba(255, 253, 242, 1);
}
/* technology section */
.framwork-sec{
    background-color:#FFFFFF;
    border: 1px solid red;
    border: 10px;
    border-style: dashed;
    border-color: tomato;
    width: 1140px;
    margin: auto;
}
.technology{
    width: 752px;
    margin: auto;
    gap: 24px 0 48px 0;
    background-color: rgb(148, 236, 6);
    margin:25px auto 48px auto;
}
.tech-container{ 
    background-color: yellow;
    gap:48px;
    padding: 0px 24px 55.5px 40px;} 

.tech-container-1 {
    height: 118px;
    display: flex;
    align-items: center;
    gap: 20px 40px;
    border: 2px solid black;
    margin-bottom: 24px;
    padding: 40px;
    background-color: #07e449;
}
.tech-container-2{
    height:118px;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    gap: 20px 40px;
    border: 2px solid black;
    margin-bottom: 24px;
    padding: 40px;
}
.tech-container-3{
    height: 118px;
    background-color: brown;
    display: flex;
    align-items: center;
    gap: 20px 40px;
    border: 2px solid black;
    margin-bottom: 24px;
    padding: 40px;
}
.tech-right{
    padding-bottom: 35px;
}
.tech-left{
    margin: auto;
  } 
.support{
    text-align: center;
    height: 313px;
    width:1140px;
    margin: auto;
    margin-top: 49px;
    margin-bottom: 80px;
    border:20px dotted red;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/image/handshake.jpg);
    background-position: center;
}
.support-main{
    margin: 100px;
    border: 12px dotted rgb(14, 30, 99); 
}
.form-support{
    display: flex;
    gap: 16px;
}
.support-headline { 
    color: white;
}
.support-description{
    color: whitesmoke;
}
/* footer style */
.nav-li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e6ddee;
    padding: 15px;
    width: 1140px;
    margin: auto;
  }